# =========================
# FastAPI
# =========================
fastapi
uvicorn[standard]
pydantic


# =========================
# LangChain / LangGraph
# =========================
langchain
langchain-core
langgraph
langchain-community


# =========================
# LLM - Groq
# =========================
langchain-groq
groq


# =========================
# MySQL
# =========================
mysql-connector-python


# =========================
# Environment variables
# =========================
python-dotenv


# =========================
# Celery + Redis
# =========================
celery
redis


# =========================
# RAG / Vector DB
# =========================
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers


# =========================
# HTTP / Web
# =========================
requests


# =========================
# Testing
# =========================
pytest